In [4]:
import pandas as pd
import numpy as np

In [5]:
holiday_df = pd.read_csv('holidays_events.csv', index_col = [0])
oil_df = pd.read_csv('oil.csv', index_col = [0])
train_df = pd.read_csv('train.csv', index_col = [0])
test_df = pd.read_csv('test.csv', index_col = [0])
stores_df = pd.read_csv('stores.csv', index_col = [0])
transaction_df = pd.read_csv('transactions.csv', index_col = [0])

In [8]:
print("Holiday DF")
display(holiday_df.head())
display(holiday_df.info())

print("Oil DF")
display(oil_df.head())
display(oil_df.info())

print("Stores DF")
display(stores_df.head())
display(stores_df.info())

print("Transaction DF")
display(transaction_df.head())
display(transaction_df.info())

print("Train DF")
display(train_df.head())
display(train_df.info())

Holiday DF

,type,locale,locale_name,description,transferred
date,,,,,
2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 2012-03-02 to 2017-12-26
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         350 non-null    object
 1   locale       350 non-null    object
 2   locale_name  350 non-null    object
 3   description  350 non-null    object
 4   transferred  350 non-null    bool
dtypes: bool(1), object(4)
memory usage: 14.0+ KB

None

Oil DF

            dcoilwtico
date
2013-01-01         NaN
2013-01-02       93.14
2013-01-03       92.97
2013-01-04       93.12
2013-01-07       93.20

<class 'pandas.core.frame.DataFrame'>
Index: 1218 entries, 2013-01-01 to 2017-08-31
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dcoilwtico  1175 non-null   float64
dtypes: float64(1)
memory usage: 19.0+ KB

None

Stores DF

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54 entries, 1 to 54
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     54 non-null     object
 1   state    54 non-null     object
 2   type     54 non-null     object
 3   cluster  54 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.1+ KB

None

Transaction DF

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111
2013-01-02          2          2358
2013-01-02          3          3487
2013-01-02          4          1922

<class 'pandas.core.frame.DataFrame'>
Index: 83488 entries, 2013-01-01 to 2017-08-15
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   store_nbr     83488 non-null  int64
 1   transactions  83488 non-null  int64
dtypes: int64(2)
memory usage: 1.9+ MB

None

Train DF

          date  store_nbr      family  sales  onpromotion
id
0   2013-01-01          1  AUTOMOTIVE    0.0          0.0
1   2013-01-01          1   BABY CARE    0.0          0.0
2   2013-01-01          1      BEAUTY    0.0          0.0
3   2013-01-01          1   BEVERAGES    0.0          0.0
4   2013-01-01          1       BOOKS    0.0          0.0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000888 entries, 0 to 3000887
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         object
 1   store_nbr    int64
 2   family       object
 3   sales        float64
 4   onpromotion  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 137.4+ MB

None